<mat-form-field>
	<mat-label>Title</mat-label>
	<input matInput cdkFocusInitial [(ngModel)]="data.task.title" />
  </mat-form-field>
  
  <mat-form-field>
	<mat-label>Description</mat-label>
	<textarea matInput [(ngModel)]="data.task.description"></textarea>
  </mat-form-field>
  
  <div mat-dialog-actions>
	<button mat-button [mat-dialog-close]="{ task: data.task }">OK</button>
	<button mat-button (click)="cancel()">Cancel</button>

	<button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ task: data.task, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
  </div>